@import url('https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.rtl.min.css');

body {
    font-family: Courier New;
}

#container {
    max-width: 500px;
    margin: auto;
}

h1, p {
    text-align: center;
}

table {
    margin: auto;
}

#timer, #hijri, #info, #getLocation {
    display: none;
}
